@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

@font-face {
  font-family: "Xilosa";
  src: url("../fontes/xilosa.ttf") format("truetype");
}

:root {
  --cursiva: 'Sriracha', cursive;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  background-color: darkgray;
}

header {
  background-color: black;
  color: white;
}

header > h1 {
  padding: 30px 0 0 30px;
  font-size: 4.2em;
  font-family: 'Xilosa', sans-serif;
}

header > p {
  padding: 0 0 35px 30px;
  font: italic .8em Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #ff0202;
}

a:hover {
  text-decoration: underline;
  color: #ffa0a0;
}

div {
  background-color: white;
  padding: 10vh 0 10vh 30px;
}

pre {
  font-family: var(--cursiva);
  font-size: 1.15em;
  line-height: 1.5em;
}

.imagem-fundo {
  background-color: #333;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.475);
}

.imagem-fundo > pre {
  max-width: 240px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.255);
  text-shadow: 1px 1px black;
}

#img01 {
  background-image: url("../imagens/background001.jpg");
  background-position: right center;
}

#img02 {
  background-image: url("../imagens/background002.jpg");
  background-position: right center;
}

footer {
  padding: 5px 0;
  background-color: black;
  color: white;
  font: .75em Verdana, sans-serif;
  text-align: center;
}

@media screen and (max-width: 375px) {
  footer > a::before {
    content: '\000a';
    white-space: pre;
  }

  .break::before {
    content: '\000a';
    white-space: pre;
  }
}